<!--Image, name, description, tagline, food pairing and brewer tips-->

{{#with singleBeer}}

<p>{{ name }}</p>
<img src="{{image_url}}">
<p>{{ description }}</p>
<p>{{ tagline }}</p>
<p>{{ food_pairing }}</p>
<p>{{ brewer_tips }}</p>
{{/with}}